# dependencies
/node_modules
/js
style.css
webpack.config.js
postcss.config.js

# webpack min
index.js

# service workers
app.js
sw.js
sw.bak.js
/lib/sw-toolbox.js


yarn.lock
package.json
yarn-error.log
